<!DOCTYPE html>
<html ng-app="housingApp" lang="">
<!--  https://www.w3.org/International/questions/qa-html-language-declarations -->
<head>
	<link rel="SHORTCUT ICON" href="favicon.png" type="image/x-icon">
<title>Housing service</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
	
	<link rel="stylesheet"
	href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.17/angular.min.js"></script>
	
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="login-signup/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="login-signup/css/style.css"> <!-- Gem style -->	
	<link rel="stylesheet" href="Content/Voter.css">
	<script src="login-signup/js/modernizr.js"></script> <!-- Modernizr -->
	<script src="ngController.js"></script>	
</head>
  
<body ng-controller="housingAppController" id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');"> 
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear" > 
	  <div id="logo" class="fl_left">
        <h1><a href="index.html">Housing Service</a></h1>
      </div>
      <!-- ################################################################################################ -->
      
	<nav class="main-nav">
	  <nav id="mainav" class="fl_right">
			<ul>
				<li class="active"><a href="index.html">Home</a></li>
				<li><a id="topToBills" class="active" href="#bills">Bills</a></li>
				<li><a id="topToPolls" class="active" href="#polls">Polls</a></li>
				<li><a class="cd-signin" href="#0">Log in</a></li>
				<li><a class="cd-signup" href="#0">Sign up</a></li>
			</ul>
		</nav>
      </nav>
      <!-- ################################################################################################ -->
    </header>

	
	
		<div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container"> <!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Log in</a></li>
				<li><a href="#0">Sign up</a></li>
				</ul>

			<div id="cd-login"> <!-- log in form -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="signin-email">E-mail</label>
						<input ng-model="email" class="full-width has-padding has-border" id="signin-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signin-password">Password</label>
						<input ng-model="pswd" class="full-width has-padding has-border" id="signin-password" type="text"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>


					<p class="fieldset">
						<input ng-click="logIn()" class="full-width" type="submit" value="Login">
					</p>
				</form>
				
				<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-login -->

			<div id="cd-signup"> <!-- sign up form -->
				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-username" for="signup-username">Username</label>
						<input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-email" for="signup-email">E-mail</label>
						<input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<label class="image-replace cd-password" for="signup-password">Password</label>
						<input class="full-width has-padding has-border" id="signup-password" type="text"  placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="cd-error-message">Error message here!</span>
					</p>


					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Create account">
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div> <!-- cd-signup -->

			<div id="cd-reset-password"> <!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div> <!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Close</a>
		</div> <!-- cd-user-modal-container -->
	</div> <!-- cd-user-modal -->
	
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div id="pageintro" class="hoc clear">
    <article> 
      <!-- ################################################################################################ -->
      <h3 class="heading">Innovative Housing Service</h3>
      <p>We provide a completely new level of service offering our customers the oppotunity to manage all the payments from everywhere they may find the Internet.</p>
      <p class="font-x1 uppercase bold">Pay your bills and support/offer ideas here</p>
      <!-- ################################################################################################ -->
    </article>
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
   <div class="sectiontitle">
      <h6  class="heading">
	  BILLS
	  <a id="billsRef" name="bills"></a>
	  </h6>
    </div>
    <!-- main body -->
    <!-- ################################################################################################ -->
    <br>

	<div ng-show="billsCanBeShown" ng-init="getBills()">
		<div class="col-xs-12">		
			<div class="col-xs-6">
				Search
				<input class="form-control ng-pristine ng-valid" ng-model="searchKeyword" type="text">
			</div>
		</div>
		<table class="table">
		<tr>
			<th><a href="" ng-click="orderByField='type'; reverseSort = !reverseSort">Type</a>
			</th>
			<th><a href="" ng-click="orderByField='value'; reverseSort = !reverseSort">Value</a>
			</th>
			<th><a href="" ng-click="orderByField='date'; reverseSort = !reverseSort">Date</a>
			</th>
			<th>Action
			</th>
		</tr>
		<tr ng-repeat="bill in bills  | filter: searchKeyword | orderBy:orderByField:reverseSort">
			<td>{{bill.type}}
			</td>
			<td>{{bill.value}}
			</td>
			<td>{{bill.date}}
			</td>
			<td>
			<input type="button" value="Remove" class="btn btn-danger btn-sm" ng-click="removeRow(bill.type, bill.value, bill.date)"/>
			</td>
		</tr>
	</table>
	<br>
	<h4 class="col-md-4 col-md-offset-5 heading">New bill</h4>
	<br>
	<br>
	<br>
	<form class="form-horizontal col-md-offset-3" role="form" ng-submit="addRow()">
		<div class="form-group">
			<label class="col-md-2 control-label">Type</label>
			<div class="col-md-4">
				<input type="text" class="form-control" name="type"
					ng-model="type" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Value</label>
			<div class="col-md-4">
				<input type="text" class="form-control" name="value"
					ng-model="value" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-md-2 control-label">Date</label>
			<div class="col-md-4">
				<input type="text" class="form-control" name="date"
					ng-model="date" />
			</div>
		</div>
		<div class="form-group">								
			<div style="padding-left:140px">
				<input type="submit" value="Add" class="btn btn-primary"/>
			</div>
		</div>
	</form>
</div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/02.png');">
  <div class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="sectiontitle">
      <h6 class="heading">
	  Voting
	  <a id="pollsRef" name="polls"></a>
	  </h6>
    </div>	
	<div ng-show="pollsCanBeShown" class="col-md-6 col-md-offset-3">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-hand-right"></span>Which floors of parking should be extended?</h3>
                </div>
				<br>
				<br>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
								<font color="black">First floor</font>								
                                <input type="checkbox" value="1">                                   
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
								<font color="black">Second floor</font>								
                                <input type="checkbox" value="2">                                  
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
								<font color="black">Third floor</font>								
                                <input type="checkbox" value="3">                                    
                                </label>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="checkbox">
                                <label>
								<font color="black">None</font>								
                                <input type="checkbox" value="0">                                     
                                </label>
                            </div>
                        </li>                        
                    </ul>
                </div>
                <div class="panel-footer text-center">
					<br>
                    <button type="button" class="btn btn-primary btn-block btn-sm">Vote</button>
                    <a href="#" class="small">View Result</a></div>
            </div>
        </div>
    <!-- ################################################################################################ -->
  </div>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2017 - Russia </p>
    <p class="fl_right">Your Housing Service</p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="login-signup/js/main.js"></script> <!-- Gem jQuery -->

<script src="layout/scripts/jquery.backtotop.js"></script>
<script src="layout/scripts/jquery.topToBills.js"></script>
<script src="layout/scripts/jquery.topToPolls.js"></script>
<script src="layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>